.office1 {
    /* height: 20vh; */
    width: 100%;
    margin-bottom: 50px;
}
}

.office2 {
    height: 500px;
    width: 2400px;
}


.navbar-home {
      margin-bottom: 0px;
}

.plans {
    margin-bottom: 50px;
}

.footer {
    background-color: blue;
}
.color-line-1 {
    color: orange;
}

.color-line-2 {
    color: yellow;
}

.color-line-3 {
    color: white;
}








